html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #F3F5FC;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 400;
    letter-spacing: 0em;
    background-image: url(../img/movie-the-conjuring-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.contenedor {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

.header_img>img {
    position: relative;
    left: 84px;
    top: 40px;
    width: 31.09px;
    height: 48px;
}

h1 {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 4px;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 8px;
    color: rgba(0, 0, 0, 0.836);
}

.botones-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    padding-top: 150px;
}

.iniciar-juego, .agregar-palabra{
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.836);
    width: 25%;
    font-size: 18px;
    font-family: 'Grenze Gotisch', cursive;
    color: rgb(255, 255, 255);
    border: 2px groove rgb(255, 255, 255);
    border-radius: 24px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    margin: 20px 0;
}

button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    padding: 0.3em 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(15, 15, 15);
    border-bottom: 1px solid rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: auto;
}

.copyright {
    margin: auto;
    justify-content: center;
}

.imgRedes {
    vertical-align: middle;
    cursor: pointer;
    width: 28px;
    height: auto;
}

.imgRedes:hover {
    transform: scale(1.0);
}

/*Parte del juego*/

.centrar{
    width: 50%;
    max-width: 800px;
}

#pantalla{
    border: groove 8px rgba(8, 1, 1, 0.959);
    background: rgba(100, 103, 105, 0.288);   
    border-radius: 24px;
    margin: 0 180px;
}

.boton-juego{
    display: inline;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.836);
    width: 20%;
    font-size: 18px;
    font-family: 'Grenze Gotisch', cursive;
    color: rgb(255, 255, 255);
    border: 2px groove rgb(255, 255, 255);
    border-radius: 24px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    margin: 18px 0 16px 300px;
}